:root {
    --width-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */
.grip {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grip__full-width {
    width: 100%;
}
.grip__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grip__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
    box-sizing: border-box;
}
.grip__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3332%;
    box-sizing: border-box;
}
.font-strong {
    font-weight: 900;
}

